<div>
    <h3 align="center" style="color: dimgrey;">Welomce to Admin Home Page</h3>
    <div align="right"><input type="button" value="Logout" (click)="adminlogout()"/></div>
    <p>Welcome Admin, {{adminname}}</p>

</div>
<br/>
<h3 align = "center">CRUD on Users</h3>
<div>
    <h4>User Creation</h4>
    <form #UserRef="ngForm" (ngSubmit)="storeUser(UserRef)">
        <label>UserName: </label>
        <input type="text" name="userfullname" ngModel /><br/>
        <label>Email: </label>
        <input type="email" name="useremail" ngModel /><br/>
        <label>Password: </label>
        <input type="password" name="password" ngModel /><br/>
        <label>Contact: </label>
        <input type="number" name="contact" ngModel /><br/>
        <label>Gender: </label>
        <input type="text" name="gender" ngModel /><br/>
        <label>Address: </label>
        <input type="text" name="address" ngModel /><br/>
        <label>City: </label>
        <input type="text" name="city" ngModel /><br/>
        <label>State: </label>
        <input type="text" name="state" ngModel /><br/>
        <input type="submit" value="store user" />
        <input type="reset" />
    </form>
    <br/>
    {{storeUs}}
    <br/>
    <div *ngIf="flag">
        <h4>User Update</h4>
        <form (ngSubmit)="updateUserDetails()" >
            <label>UserId: </label>
            <input type="number" name="uid" [(ngModel)]="uid" readonly /><br/>
            <label>UserFullName: </label>
            <input type="text" name="userfullname" [(ngModel)]="userfullname"/><br/>
            <label>Contact: </label>
            <input type="number" name="contact" [(ngModel)]="contact"/><br/>
            <label>Address: </label>
            <input type="text" name="address" [(ngModel)]="address"/><br/>
            <label>Gender: </label>
            <input type="text" name="gender" [(ngModel)]="gender"/><br/>
            <label>City: </label>
            <input type="text" name="city" [(ngModel)]="city"/><br/>
            <label>State: </label>
            <input type="text" name="state" [(ngModel)]="state"/><br/>
            <input type="submit" value="update User"/>
            <input type="reset" value="reset"/>
        </form>
        <hr/>
    </div>
    <h4>User Details</h4>
    <table border="2px">
        <tr>
            <th>Userid</th>
            <th>UserName</th>
            <th>email</th>
            <th>contact</th>
            <th>Gender</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Delete User</th>
            <th>Update User</th>
            
        </tr>
        <tr *ngFor="let user of retrieveUsers">
            <td>{{user.id}}</td>
            <td>{{user.userfullname }}</td>
            <td>{{user.useremail}}</td>
            <td>{{user.contact}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.address}}</td>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td><input type="button" value="delete" (click)="deleteUser(user.id)" /></td> 
            <td><input type="button" value="update" (click)="updateUser(user)" /></td>
            
        </tr>
    </table>
    <br/>
    {{deleteUs}}
</div>
<br/><br/>
<hr/>













<h3 align = "center">CRUD on Products</h3>
<div>
    <h4>Product Creation</h4>
    <form #productRef="ngForm" (ngSubmit)="storeProduct(productRef)" >
        <label>Product_Id: </label>
        <input type="number" name="pid" ngModel /><br/>
        <label>Product_Name:</label>
        <input type="text" name="pname" ngModel /><br/>
        <label>Product_Description:</label>
        <input type="text" name="pdesc" ngModel /><br/>
        <label>Product_Price:</label>
        <input type="number" name="price" ngModel /><br/>
        <label>Image URL: </label>
        <input type="text" name="pimage" ngModel/><br/>
        <input type="submit" value="store product" />
        <input type="reset" value="reset" />
    </form>
    
    <br/>
    {{storeMsg}}
    <hr/>
    <div *ngIf="fl">
        <h3>Update Product</h3>
        <form (ngSubmit)="updateProductDetails()" >
            <label>Product_Id: </label>
            <input type="number" name="pid" [(ngModel)]="pid" readonly /><br/>
            <label>Product_Price: </label>
            <input type="number" name="price" [(ngModel)]="price"/><br/>
            <label>Product Description: </label>
            <input type="text" name="pdesc" [(ngModel)]="pdesc"/><br/>
            <label>Product_Image</label>
            <input type="text" name="pimage" [(ngModel)]="pimage"/><br/>
            <input type="submit" value="update product"/>
            <input type="reset" value="reset"/>
        </form>
        
    </div>
    <table border="2px">
        <tr>
            <th>PId</th>
            <th>PName</th>
            <th>Price</th>
            <th>Images</th>
            <th>Prod_Description</th>
            <th>Delete Product</th>
            <th>Update Product</th>
            
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.pid}}</td>
            <td>{{product.pname | uppercase}}</td>
            <td>{{product.price}}</td>
            <td><img src={{product.pimage}} width="180px" height="210px"/></td>
            <td>{{product.pdesc}}</td>
            <td><input type="button" value="delete" (click)="deleteProduct(product.pid)" /></td> 
            <td><input type="button" value="update" (click)="updateProduct(product)" /></td>
            
        </tr>
    </table>
    <br/>
    {{deleteMsg}}
</div>