<hr/>
<div class="content">
    <h3 style="color:darkorchid;">Welcome to User Page of the application</h3>
    
     <div class="content_body" align="right">
         <h4>User Login</h4>
    <form [formGroup]="UserLogRef" (ngSubmit)="userLogin()">
    <label>Email: </label>
    <input type="email" formControlName="useremail" /><br/>
    <label>Password: </label>
    <input  type="password" formControlName="password" /><br/>
    
    <input type="submit" value="Login"   /> &nbsp;
    <input type="reset" value="Reset" />
    </form>
    <br/>
    {{LogUser}}
     </div>
<hr/>

    <br/>

    <div class="content_body" align="right">
    <h4>User Register</h4>
    <form [formGroup]="UserRegRef" (ngSubmit)="userRegister()">
        <label>UserFullName: </label>
        <input type="text" formControlName="userfullname" /><br/>
        <label>Email: </label>
        <input  type="email" formControlName="useremail" /><br/>
        <label>Password: </label>
        <input type="password" formControlName="password" /><br/>
        <label>Contact: </label>
        <input type="number" formControlName="contact" /><br/>
        <label>Gender: </label>
        <input type="text" formControlName="gender" /><br/>
        <label>Address: </label>
        <input type="text" formControlName="address" /><br/>
        <label>City: </label>
        <input type="text" formControlName="city" /><br/>
        <label>State: </label>
        <input type="text" formControlName="state" /><br/>
        <input type="submit" value="Register" /> &nbsp;
        <input type="reset" value="Reset" />
        </form>
        <br/>
        {{RegUser}}
    </div>
</div>


