<div>
  <h2 align="center" style="color: coral;">Welcome to Shop For Home Application</h2>
  <hr/>
  <div align="center">
   <h3>Click Here For <a routerLink="useractivity">UserActivity</a> &nbsp; &nbsp;
   Click Here For <a routerLink="adminactivity">AdminActivity</a></h3>
  </div>
   <router-outlet></router-outlet>
</div>
